<div class="container home_wrapper">
    <h2 id="title">Procurar processos</h2>
    <%= form_with url: "/search", class:"d-flex", method: :get do |form| %>
        <%= form.text_field :query, class:"form-control me-2", placeholder:"Nome do advogado" %>
        <%= form.submit "Gerar relatório", class:"btn btn-outline-secondary" %>
    <% end %>
    <div class="container process_wrapper">
            <% if !@processes.nil? %>
                <div class="owner_process">
                    <p> <span class="process">Nome do advogado: </span><span><%= @query.capitalize()%></span></p>
                    <p> <span class="process">Total de processos: </span> <span><%= @processes.count %></span></p>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                        <% @processes.each do |process| %>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= process.id %>" aria-expanded="false" aria-controls="flush-collapse<%= process.id %>">
                                        <span class="process">Processo n.º: </span> <span><%= process.numero_processo %></span>
                                    </button>
                                </h2>
                                <div id="flush-collapse<%= process.id %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <% client=search_client(process.cliente_id)%>
                                        <p>
                                            <span class="process">Nome do cliente:</span> <span><%= client.nome %></span>
                                        </p>
                                        <p>
                                            <span class="process">CPF/CNPJ:</span> <span><%= client.cpf_cnpj %></span>
                                        </p>
                                        <p>
                                            <span class="process">E-mail:</span> <span><%= client.email %></span>
                                        </p>
                                        <p>
                                            <span class="process">Endereço:</span> <span><%= client.endereço %></span>
                                        </p>
                                        <p>
                                            <span class="process">Proximo prazo do processo:</span> <span><%= process.proximo_prazo.strftime('%d/%m/%Y') %></span>
                                        </p>
                                        <%if process.arquivo %>
                                            <p><span class="process">Arquivo:</span> <span>Sim</span> </p>
                                        <%else%>
                                            <p><span class="process">Arquivo:</span> <span>Não</span> </p>
                                        <%end%>
                            
                                    </div>
                                </div>
                            </div>
                        <% end %>
                </div>
            <% else %>
                <p><%= @query %> não tem processo em seu nome</p>
            <%end%>
    </div>
</div>